body {
    background-image: url('/images/catBkgrnd.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  

.ListItem {
    color: blue; /* Change to your preferred text color */
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .RemoveButton {
    background-color: rgb(112, 73, 221);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .RemoveButton:hover {
    background-color: darkred;
  }
  